<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event name</title>
    <link rel="icon" href="/static/favicon.png">

		<link rel="stylesheet" href="/static/css/bulma.min.css">
		<link rel="stylesheet" href="/static/css/bulma-helpers.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
  </head>
  <body>
		<header>
			<nav class="level has-background-link has-padding-15">
				<!-- Left side -->
				<div class="level-item">
					<div class="box has-background-white has-padding-15">
						<article class="media">
							<figure class="media-left">
								<p class="image is-128x128">
									<img src="/static/image/avatar.png">
								</p>
							</figure>
							<div class="media-content">
								<div class="content">
									<p>
										<strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
										<br>
										Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
									</p>
								</div>
								<nav class="level is-mobile">
									<div class="level-left">
										<a class="level-item">
											<span class="icon is-small"><i class="fas fa-reply"></i></span>
										</a>
										<a class="level-item">
											<span class="icon is-small"><i class="fas fa-retweet"></i></span>
										</a>
										<a class="level-item">
											<span class="icon is-small"><i class="fas fa-heart"></i></span>
										</a>
									</div>
								</nav>
							</div>
						</article>
					</div>
				</div>
			</nav>
			<div class="container has-background-link">
				<div class="container has-background-white">
					
				</div>
			</div>
		</header>
		<main>
				
		</main>
    
  </body>
</html>