<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="_token" content="">
	<title>VNPT Schedule</title>
	<script src="https://use.fontawesome.com/38035188cb.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<header class="mb-3">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand" href="">VNPT Schedule</a>
			</div>
		</nav>
	</header>
	<main class="temp">
		<div class="all">
			<div class="row">
				<div class="col-md-5 col-sm-12 info-user">
					<div class="all">
						<div class="row bor">
							<div class="image col-md-5 col-sm-12">
								<div class="image-inner">
									<img src="/static/image/avatar.png" alt="" class="avatar">
								</div>
								<div class="ID">ID:#3456245</div>
							</div>
							<div class="user col-md-7 col-sm-12">
								<ul class="list-info-user navbar-nav">
									<li class="nav-item">
										<i class="fa fa-user icon"></i>{{user.name}}
									</li>
									<li class="nav-item">
										<i class="fab fa-teamspeak icon"></i>Đội {{user.team}}
									</li>
									<li class="nav-item">
										<i class="fas fa-users-cog icon"></i>{{user.donvi}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-sm-12 schedule">
					<div class="banner">
						<h3>Lịch Trình</h3>
					</div>
					<div class="dital">
						<ul class="list-schedule">
							<table class="table">
							  <tbody>
									{% for obj in lichtrinh %}
									<tr class="item-schedule">
											<td>{{obj.time_schedule|date:'d-m-Y'}}</td>
											<td>{{obj.time_schedule|date:'H:i'}}</td>
											<td>{{obj.event}}</td>
									</tr>
									{% endfor %}
							  </tbody>
							</table>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/ejs@2.6.1/ejs.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>